<div class="container">
    <div class="row">

        <div class="row text-center">
            <div class="col-12">
                <h1>Charlie's International Recipe Book</h1>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-12">
                <h1>Countries</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ul *ngFor="let country of countries">
                    <li> {{ country.id }} </li>
                    <li> {{ country.country_name }} </li>
                    <li> {{ country.country_likeness }} </li>
                    <li> {{ country.location }} </li>
                </ul>
            </div>
        </div>
    </div>
</div>