<!-- <div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <span class="header1">
                Add Country
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
        </div>
    </div>
    <div class="form-group">
        <form (ngSubmit)="submit()" [formGroup]="fgCountry" id="fgCountry" name="fgCountry">
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    <span class="text1">Country:</span>
                                </td>
                                <td>
                                    <input type="text" name="name" id="name" formControlName="name" class="form-control text1" required >
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text1">Country Likeness:</span>
                                </td>
                                <td>
                                    <input type="text" name="description" id="description" formControlName="cl"  class="form-control text1" required >
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text1">Location:</span>
                                </td>
                                <td>
                                    <input type="text" name="location" id="location" formControlName="loc" class="form-control text1" required >
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center" *ngIf="fgCountry.get('name').value == '' ||
                                                        fg.get('cl').value == '' ||
                                                        fg.get('loc').value == '' || ">
                                    <button class="btn btn-dark text1" disabled >Submit</button>
                                </td>
                                <td class="text-center" *ngIf="fgCountry.get('shape').value &&
                                                        fg.get('cl').value &&
                                                        fg.get('loc').value &&
                                                        ">
                                    <button class="btn btn-success text1 " >Submit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-12 text-center">
                <span class="header1">
                    Add Food
                </span>
            </div>
        </div>
        <form (ngSubmit)="submit()" [formGroup]="fgFood" id="fgFood" name="fgFood">
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    <span class="text1">Name:</span>
                                </td>
                                <td>
                                    <input type="text" name="name" id="name" formControlName="name" class="form-control text1" required >
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text1">Price:</span>
                                </td>
                                <td>
                                    <input type="text" name="price" id="price" formControlName="price"  class="form-control text1" required >
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text1">Location:</span>
                                </td>
                                <td>
                                    <input type="text" name="loc" id="loc" formControlName="loc" class="form-control text1" required >
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text1">Ingrediant Names:</span>
                                </td>
                                <td>
                                    <input type="text" name="iname" id="iname" formControlName="iname" class="form-control text1" required >
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center" *ngIf="fgFood.get('name').value == '' ||
                                                        fgFood.get('price').value == '' ||
                                                        fgFood.get('loc').value == '' ||
                                                        fgFood.get('iname').value == '' || ">
                                    <button class="btn btn-dark text1" disabled >Submit</button>
                                </td>
                                <td class="text-center" *ngIf="fgFood.get('name').value &&
                                                        fgFood.get('price').value &&
                                                        fgFood.get('loc').value &&
                                                        fgFood.get('iname').value
                                                        ">
                                    <button class="btn btn-success text1 " >Submit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-12 text-center">
                <span class="header1">
                    Add Ingrediants
                </span>
            </div>
        </div>
        <form (ngSubmit)="submit()" [formGroup]="fgIng" id="fgIng" name="fgIng">
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    <span class="text1">Name:</span>
                                </td>
                                <td>
                                    <input type="text" name="name" id="name" formControlName="name" class="form-control text1" required >
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text1">Price:</span>
                                </td>
                                <td>
                                    <input type="text" name="price" id="price" formControlName="price"  class="form-control text1" required >
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text1">Location:</span>
                                </td>
                                <td>
                                    <input type="text" name="loc" id="loc" formControlName="loc" class="form-control text1" required >
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="text1">Ingrediant Details:</span>
                                </td>
                                <td>
                                    <input type="text" name="ingdet" id="iname" formControlName="iname" class="form-control text1" required >
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center" *ngIf="fgIng.get('name').value == '' ||
                                                        fgIng.get('price').value == '' ||
                                                        fgIng.get('loc').value == '' ||
                                                        fgIng.get('ingdet').value == '' || ">
                                    <button class="btn btn-dark text1" disabled >Submit</button>
                                </td>
                                <td class="text-center" *ngIf="fgIng.get('name').value &&
                                                        fgIng.get('price').value &&
                                                        fgIng.get('loc').value &&
                                                        fgIng.get('ingdet').value
                                                        ">
                                    <button class="btn btn-success text1 " >Submit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div> -->