<div class="container">
    <div class="row">

        <div class="row text-center">
            <div class="col-12">
                <h1>Charlie's International Recipe Book</h1>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-12">
                <h1>Foods</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ul *ngFor="let food of foods">
                    <li> {{ food.id }} </li>
                    <li> {{ food.food_name }} </li>
                    <li> {{ food.ingredient_name }} </li>
                    <li> {{ food.location }} </li>
                    <li> {{ food.food_price }} </li>
                </ul>
            </div>
        </div>
    </div>
</div>