<!-- temp navbar -->
<nav>
  <a routerLink="/food">Food</a> &nbsp; <a routerLink="/country">Country</a> &nbsp; <a routerLink="/ingredient">Ingredient</a> &nbsp; <a routerLink="/create">add</a> &nbsp; <a routerLink="/edit">edit</a> &nbsp; <a routerLink="/delete">delete</a> &nbsp; 
</nav>

<router-outlet></router-outlet>