table.table-bordered{
    border:2px solid black;
    margin-top:20px;
    padding: 8px;
    width: 100%;
    background-color: lightgray;
    color: navy;
  }
table.table-bordered > thead > tr > th{
    border:2px solid black;
    padding: 8px;
}
table.table-bordered > tbody > tr > td{
    border:2px solid black;
    padding: 8px;
}

.borderR{
    border-right: 2px solid black;
}

button{
    border-radius: 4px;
    border: black solid 2px;
    margin: 2px;
    background-color: lightseagreen;
}

button:hover, a:hover, .cancel:hover{
    border: greenyellow solid 2px;
    color: gold;
}
.submit{
    background-color: burlywood;
    color: black;
}

.cancel{
    border: black solid 2px;
    border-radius: 4px;
    background-color: aquamarine;
    color: black;
    margin: 2px;
    padding: 4px;
}

.delete{
    background-color: crimson;
    color: antiquewhite;
}




button:disabled{
    border: silver solid 2px;
    background-color: slategray;
    color: whitesmoke;
    font-style: italic;
}